body{

  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  
}


.AboutSection{
  background-color: E8E9EB;
width: 100%;
display: flex;
height: 400px;
padding-left: 2%;
border-radius: 50px 50px 50px 40px / 40px 40px 40px 25px;
margin-bottom: 30px;
}
.heroContent{
  width: 50%;
  height: inherit;
  margin-right: 8%;

}
.HeroContentHead{
  text-transform: uppercase;
  font-size: 35px;
  margin-top: 10%;
  margin-bottom: 2%;
}
.aboutBlurb{
  font-size: 20px;
}
.aboutImage{
  width: 50%;
  height: 50%;
  margin-right: 5%;
  margin-top: 1%;
  padding-bottom: 15%;
}
.SkillsCard{
  display: flex;
  width: 100%;
  padding-left: 2%;
  height: 550px;


}
.ContentSkillsCard{
  width: 70%
}
.SkillsCardTitle{
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 30px;
  margin-top: 8%;

 
}
.SkillsCardSubtitle{
  font-style: italic;
  font-size: 15px;
  margin-top: 2%;
}
.SkillsCardBlurb{
  font-size: 20px;
  width: 90%;
  margin-top: 10%;
}
.imagesForSkillsCardMobile{
  display: none;
}
.imagesForSkillsCard{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  text-align: center;
  margin-top: 5%;
  padding-right: 5%;
  row-gap: 2%;
  column-gap: 1%;
  margin-bottom: 20%;
}

.portfolioProjects{
  display: flex;
  margin-top: 10%;

}
.PortfolioBlurb{
  width: 200%;
  padding-left: 2%;
  position: sticky;

}
.PortfolioBlurb h1{
  font-weight: bold;
  font-size: 30px;


}
.PortfolioBlurb p{
  font-size: 15px;
  padding-right: 10%;


}
.selectedPortfolioProjects{
  padding-left: 0%;
}

.letsConnectSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: E8E9EB;
  margin-top: 5%;
  position:absolute;
  left: 0px;
  margin-left: 0%;
  
}
.footerAboutSection{
  width: 100%;
  
}
.footerAboutSection h1{
font-size: 40px;
font-weight: bold;
}
.footerAboutSection h2{
  font-size: 20px;
  }
.ConnectContactSection h1{
font-size: 30px;
}
.connectIcons{
  display: flex;
  width: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.connectIcons img{
  padding-right: 15%;

}

@media screen and (max-width:430px){

  body{
    background-color: rgb(255, 255, 255);

    padding:0%;
    width: 320px;
    margin-top: 50px;
    margin-left: 50px;
  
  }
.navbar{
  margin-right: 14%;
}
.aboutSection{
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 5%;
  width: 80%;
  display: flex;
  background-color: rgba(175, 166, 166, 0.158);
  font-size: 50%;
  border-radius: 8%;
  
}
.aboutImage{
margin-top: 10%;
padding-bottom: 15%;
padding-right: 5%;
}
.heroContent{
  width: 600px;
  height: 105px;
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 10%;
  font-size: 90%;
  opacity: 0;
  overflow: hidden;
}
.heroContent::after{
  content: "|";
  animation: blink is step-end infinite;
}
@keyframes blink {
  50%{
    opacity: 0;
  }
}
.AboutMe{
  background-color: blue;
  width: 80%;

  

}
.SkillsCard{
  /* background-color: aqua; */
  width: 79%;
  margin-left: 4%;
  margin-top:10%;
  margin-bottom: 3%;
  display: flex;
  height: 190px;
}
.SkillsCardTitle{
  font-weight: bold;
  text-decoration: underline;
  font-size: 10px;
}
.SkillsCardSubtitle{
  margin-top: 5px;
font-style: italic;
font-size: 8px;
}
.SkillsCardBlurb{
  margin-top:5px;
  font-size: 10px;
}
.imagesForSkillsCard{
  display:none;
}
.imagesForSkillsCardMobile{
  display: flex;
  width: 80%;
  margin-left: 4%;
  margin-right: 10%;
  position: relative;
}

.portfolioProjects{
  display: flex;
  margin-top: 5%;
  max-width: 320px;
  margin-right: 60px;
}
.PortfolioBlurb{
  position:sticky !important;
  margin-right: 9%;
  padding-right: 0%;
  font-size: 15px;
  padding-left: 5%;
  
}
.PortfolioBlurb p{
  margin-top: 10%;
  font-size: 4px;
}
.selectedPortfolioProjects{
  font-size: 30%;
  
}
.letsConnectSection{
  background-color: rgba(175, 166, 166, 0.158);
  display: flex;
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 5%;
  height: 100px;
  padding-right: 50px;
  
}
.footerAboutSection{
  margin-right: 22px;
  width: 100%;
}
.footerAboutSection h1{
font-size: 18px;
width: 120%;
}
.footerAboutSection h2{
font-size: 8px;
}
.ConnectContactSection h1{
  font-size: 15px;


}
.ConnectContactSection h2{
  font-size: 8px;
}
.connectIcons{
  display: flex;
  width: 80px;
  padding-top: 5%;
  margin-left: 20px;
}
.LinkedinImg, .EmailImg, .PhoneImg{
 margin-right: 5px;
}

}

